$background-url-1: "~/assets/images/jaime-and-dragon.jpg";
$background-url-2: "~/assets/images/the-wall.jpg";

$base-font-color: #e7e7e7;
$alt-font-color: #818181;
$pink: #cb356b;
$pink-darker: #bd3f32;
$gradient-base: linear-gradient(to right, $pink, $pink-darker);
$gradient-base-semitransparent: linear-gradient(to right, #cb356c8c, #bd40326b);
$background-filter: #808c9c85;
$background-semitransparent: #ffffff75;
$background-semitransparent-dark: #8b8b8b96;
$text-shadow-dark: 0 0 5px #424242;
$text-shadow-light: 0 0 5px #ffffff;
$radius-small: 5px;
$navbar-height: 5rem;
