<div class="character-record">
  <div class="character-record__result-details" *ngIf="characterPreview">
    <div class="character-record__result-details--prop">{{ characterPreview.name }}</div>
    <div class="character-record__result-details--prop">{{ characterPreview.aliases.join(', ') }}</div>
    <div class="character-record__result-details--prop">{{ characterPreview.houses.join(', ') }}</div>
    <div class="character-record__result-details--prop">{{ characterPreview.culture }}</div>
    <div class="character-record__result-details--prop">{{ characterPreview.actors.join(', ') }}</div>
  </div>
</div>