@import 'variables';
@import 'typography';

button {
  min-width: 100px;
  min-height: 40px;
  font-family: $font-family-base;

  &:hover {
    cursor: pointer;
  }
}

.button--rounded {
  border-radius: 20px;
}

.button--base {
  background: white;
  color: $pink;
  
  &:hover {
    box-shadow: 0 0 5px #424242;
    transition: 0.4s;
  }
}

.button--alt {
  background: $gradient-base;
  color: white;
  &:hover {
    box-shadow: 0 0 5px #424242;
    transition: 0.4s;
  }
}

.button--disabled {
  background: gray;
  color: white;
  &:hover {
    box-shadow: none;
    cursor: auto;
  }
}
