<div class="characters-list">
     <div class="characters-list__list">
          <div class="characters-list__headers">
               <div class="character-list__header"
                    (click)="sortByName()">
                    <span>Name</span>
                    <div class="character-list__sorting-marker"
                         *ngIf="currentSortParameter === sortParameter.NAME"
                         [class.ascending]="nameAscending"
                         [class.descending]="!nameAscending"></div>
               </div>
               <div class="character-list__header"
                    (click)="sortByAlias()">
                    <span>Also known as</span>
                    <div class="character-list__sorting-marker"
                         *ngIf="currentSortParameter === sortParameter.ALIAS"
                         [class.ascending]="aliasAscending"
                         [class.descending]="!aliasAscending"></div>
               </div>
               <div class="character-list__header"
                    (click)="sortByHouse()">
                    <span>House</span>
                    <div class="character-list__sorting-marker"
                         *ngIf="currentSortParameter === sortParameter.HOUSE"
                         [class.ascending]="houseAscending"
                         [class.descending]="!houseAscending"></div>
               </div>
               <div class="character-list__header"
                    (click)="sortByCulture()">
                    <span>Culture</span>
                    <div class="character-list__sorting-marker"
                         *ngIf="currentSortParameter === sortParameter.CULTURE"
                         [class.ascending]="cultureAscending"
                         [class.descending]="!cultureAscending"></div>
               </div>
               <div class="character-list__header"
                    (click)="sortByActor()">
                    <span>Portrayed by</span>
                    <div class="character-list__sorting-marker"
                         *ngIf="currentSortParameter === sortParameter.ACTOR"
                         [class.ascending]="actorAscending"
                         [class.descending]="!actorAscending"></div>
               </div>
          </div>
          <app-character-record class="characters-list__item"
                                *ngFor="let characterPreview of charactersPreviewsFiltered"
                                [characterPreview]="characterPreview"
                                (click)="onItemClick(characterPreview)"></app-character-record>
     </div>
</div>