<div class="home">
    <div class="home__tutorial">
        <span class="home__header">How to start?</span>
        <p class="home__tutorial-content">
            Drag an image or select it from the memory on your device.<br /> <br />
            If there are characters from the Game of Trones TV series, The Faceless Assistant will identify them!<br /><br />
            You can also find and identify your favourite characters by yourself. Check out the Characters tab.
        </p>
        <img src="{{ logoSrc }}"
             class="home__logo-img">
    </div>
    <div class="home__image-panel">
        <span class="home__header">Upload an image</span>
        <div class="home__upload-area dropzone"
             appDnd
             (fileDropped)="uploadFile($event)">
            <input type="file"
                   accept="image/*"
                   class="home__drop-area"
                   #fileDropRef
                   (change)="uploadFile($event)" />
            <label for="fileDropRef"
                   *ngIf="!isImageLoaded">
                Drag file here
            </label>
        </div>
        <div class="home__image-wrapper"
             *ngIf="isImageLoaded">
            <img class="home__image"
                 [class.horizontal]="isImageHorizontal"
                 [class.vertical]="!isImageHorizontal"
                 [hidden]="!isImageLoaded"
                 [src]="imageBase64" />
            <div *ngFor="let character of result"
                 class="home__frame"
                 #tooltip="matTooltip"
                 matTooltip="{{character.name}}"
                 matTooltipHideDelay="100"
                 [matTooltipClass]="'custom-tooltip'"
                 [style.left]="character.offsets[0] + '%'"
                 [style.top]="character.offsets[1] + '%'"
                 [style.right]="character.offsets[2] + '%'"
                 [style.bottom]="character.offsets[3] + '%'">
            </div>
        </div>
        <input hidden
               type="file"
               accept="image/*"
               #uploader
               (change)="uploadFile($event)" />
        <div class="home__panel-buttons">
            <button class="home__upload-button button--rounded button--base"
                    (click)="uploader.click()">
                Select file
            </button>
            <button [disabled]="!isImageLoaded"
                    class="home__identify-button button--rounded button--base"
                    [class.button--alt]="isImageLoaded"
                    [class.button--disabled]="!isImageLoaded"
                    (click)="onIdentifyCharacters()">
                Identify characters
            </button>
        </div>
    </div>
    <div class="home__results"
         *ngIf="result">
        <div class="home__result--success"
             *ngIf="result; else noResults">
            <div class="home__result-count">
                The Assistant has detected {{ numberOfDetected}} {{ numberOfDetected !== 1 ? 'faces' : 'face' }} and
                recognised {{ numberOfRecognized }} {{ numberOfRecognized !== 1 ? 'characters' : 'character' }}
            </div>
            <div *ngFor="let character of result"
                 class="home__result-details">
                <img src="{{ character.image }}"
                     class="home__result-details--image">
                <div class="home__result-details--name">{{ character.name }}</div>
                <div class="home__result-details--attribute">
                    <span class="home__result-details--label">Also known as: </span>
                    <span class="home__result-details--value">{{ character.aliases.join(', ') }}</span>
                </div>
                <div class="home__result-details--attribute">
                    <span class="home__result-details--label">House: </span>
                    <span class="home__result-details--value">{{ character.houses.join(', ') }}</span>
                </div>
                <div class="home__result-details--attribute">
                    <span class="home__result-details--label">Portrayed by: </span>
                    <span class="home__result-details--value">{{ character.actors.join(', ') }}</span>
                </div>
                <div class="home__result-details--attribute">
                    <span class="home__result-details--label">Culture: </span>
                    <span class="home__result-details--value">{{ character.culture }}</span>
                </div>
                <div class="home__result-details--attribute home__result-details--attribute--description">
                    <span class="home__result-details--label">Description: </span>
                    <span class="home__result-details--value">{{ character.description }}</span>
                </div>
            </div>
        </div>
        <ng-template #noResults>
            <span class="home__result--no-results">
                failure
            </span>
        </ng-template>
    </div>
</div>