<div class="characters-filters">
  <div class="characters-filters__container">
    <div class="characters-filters__display-modes">
      <button class="characters-filters__control button--rounded button--alt"
              (click)="onModeChange(gridMode)">Grid view</button>
      <button class="characters-filters__control button--rounded button--alt"
              (click)="onModeChange(listMode)">List view</button>
    </div>
    <div class="characters-filters__filters">
      <app-lookup-field [placeholder]="'Name'"></app-lookup-field>
      <app-lookup-field [placeholder]="'Portrayed by'"></app-lookup-field>
      <app-dropdown-field [placeholder]="'House'"></app-dropdown-field>
      <app-dropdown-field [placeholder]="'Culture'"></app-dropdown-field>
    </div>
  </div>
</div>