<div class="characters-grid">
  <div class="characters-grid__grid"
       *ngIf="true"
       [ngClass]="{'characters-grid__grid--auto-fit': (3 >= 4),
              'characters-grid__grid--auto-fill': (3 < 4) }">
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
    <app-character-tile class="characters-grid__item"></app-character-tile>
  </div>
</div>