@import "main";

.characters-grid {
  height: 100%;
  border-radius: $radius-small;

  .characters-grid__grid {
    min-height: 100%;
    padding: 1rem;
    background: $background-semitransparent;
    display: grid;
    align-items: start;
    grid-template-rows: repeat(auto-fill, 18rem);
    gap: .6rem;

    .characters-grid__item {
      height: 100%;
      @include flex-center();
    }
  }

  .characters-grid__grid--auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .characters-grid__grid--auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
